form {
    display: flex;
    flex-direction: row;
    padding: 2px;
    align-items: center;
}

.bar {
    border-radius: 40px;
    border-style: none;
    padding: 3vh 8vw;
    border: none;
    flex-grow: 2;
    display: flex;
    

}

.bar:focus {
    outline: none;
}


.search-btn {
    display: flex;
    align-items: center;
    border-radius: 40px;
    border-style: none;
    height: 3vh;
    padding: 3vh 3.3vw;
    background-color: rgb(2, 190, 190);
    margin-left: -10vw; 
    color: white;
    font-weight: 700;   
    font-size: 0.9vw;
}
