.nav {
    display: flex;
    flex-direction: row;
    width: 95vw;
    justify-content: space-between;
    align-items: flex-end;
    /* border: 1px solid black; */
    margin-top: -8vh;

}

.logo {
    display: flex;
    flex-direction: row;
    color: rgb(2, 190, 190);

    align-items: center;
    margin-left: 1vw;
}

.icon {
    height: 4vh;
}

.nav-btns {
    display: flex;
    flex-direction: row;
    margin-right: 1vw;

}

.partner-opts {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 13vw;
    height: 18vh;
    background-color: white;
    margin-top: 0.5vh;
    margin-left: -9.3vw;
    border-radius: 10px;
    justify-content: center;
}

.menu-opts {
    display: flex;
    position: absolute;
    /* margin-top: 1vh; */
    margin-left: -9.95vw;
    flex-direction: column;
    background-color: white;
    width: 15vw;
    height: 100vh;

}


.nav-btn {
    padding: 1vh 2vw;
    
    border-radius: 10px;
    margin-left: 1vw;
    border: none;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    


    
}

.nav-btns {
    padding: 1vh 2vw;
    
    border-radius: 10px;
    margin-left: 1vw;
    border: none;
    display: flex;
    align-items: flex-end;
    
}



.icon-color {
    color:rgb(2, 190, 190);
}

li {
    list-style: none;
}

.close-btn {
    border-style: none;
    background-color: transparent;
}


